.search-container {
    max-width: 768px;
    margin: 100px auto;
    margin-bottom: 0px;
    position: relative;
}

.search-input {
    height: 55px;
    border-radius: 24px;
    padding: 0 44px;
    font-size: 16px;
    border: 1px solid #dfe1e5;
    transition: all 0.3s ease;
    box-shadow: none;
}

.search-input:hover,
.search-input:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #4285f4;
    font-size: 20px;
}



.suggestions-item:hover {
    background-color:grey;
}